
html {
    background: linear-gradient(-90deg, #febc55, #ff6969, #9500ff);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.top-box { 
  box-sizing: content-box;
  text-align: center;
}

.top-logo {
  vertical-align: middle;
}

.top-title {
  color:#FFFFFF;
  font-size: 70px;
  vertical-align: middle;
}

.content {
  width: auto;
  height: auto;
  box-sizing: content-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

#cr-info {
  position: fixed;
  width: 71%;
  height: 5vh;
  left: 14.5%;
  bottom: 2.5%;
  padding: 5px;
  box-sizing: content-box;
  color: black;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-radius: 4em 4em 4em 4em;
}

.container {
  margin: auto;
  width: 70%;
  height: 70vh;
  float: center;
  border-radius: 4em 4em 4em 4em;
  background: white;
  padding: 1%;
}

#app {
  height: 100%;
}

button {
  margin-top: 20px;
  border: none;
  background-color: #ff6969;
  color: white;
  height: 60px;
  width: 180px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

#toTopBtn {
  /* make display hidden by default */
  display: none;
  position: fixed;
  bottom: 26px;
  right: 225px;
  height: 30px;
  width: 110px;
}