
html {
    background: linear-gradient(-90deg, #febc55, #ff6969, #9500ff);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.top-box { 
  box-sizing: content-box;
  text-align: center;
}

.top-logo {
  vertical-align: middle;
}

.top-title {
  color:#FFFFFF;
  font-size: 70px;
  vertical-align: middle;
}

.content {
  width: auto;
  height: auto;
  box-sizing: content-box;
  margin-top: 10px;
  margin-bottom: 20px;
}

#cr-info {
  width: 72%;
  height: 5vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
  text-align: center;
  background-color: white;
  border-radius: 4em 4em 4em 4em;
}

.container {
  margin: auto;
  width: 70%;
  min-height: 70vh;
  height: auto;
  float: center;
  border-radius: 4em 4em 4em 4em;
  background: white;
  padding: 1%;
}

#app {
  height: 100%;
}

button {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  background-color: #ff6969;
  color: white;
  height: 54px;
  width: 155px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
}

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  height: 30px;
  width: 110px;
}

.image-wrapper {
  width: auto;
  height: auto;
  margin: 4px;
  border: 5px solid #9500ff;
  float: left;
  border-radius: 2em 2em 2em 2em;
}